html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}

body {
  background-color: #aaa;
  font-family: Sans-Serif;
}

canvas {
  position: absolute;
  background-color: #fff;
  border: 1px solid black;
  /* NOTE: This size is changed if in iframe - see below '.iframe canvas' */
  width: 400px;
  height: 300px;
  display: block;
  z-index: 1;
}

#uiContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
  font-family: monospace;
  pointer-events: none;

  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

#ui {
  opacity: 0.8;
}

#ui > div {
  /*pointer-events: none;*/
}

#ui input,
#ui select,
#ui option,
#ui canvas {
  pointer-events: auto;
}

body {
  margin: 0;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

#ui {
  font-size: x-small;
}

table {
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background-color: #eee;
}

tr:nth-child(even) {
  background-color: #def;
}

td {
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}
